
body {
    background-color: lightgray;
}
.imgage-product {
    max-height: 200px;
}
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.product {
    text-align: -webkit-center;
}
